#text{
  padding: 2%;
  padding-top: 2px;
  text-align: justify;
}
h2{
  text-align: center;
}
li span{
  font-weight: bolder;
}
ul li{
  list-style-type: none;
}
img{
  width: 100%;
}
@media only screen and (min-width: 768px) {
  img{
    width: 500px;
    display: block;
    margin: auto;
  }
}