#header-main{
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 4rem;
  letter-spacing: 1rem;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
#main-img img{
  display: block;
  margin: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #main-img img{
    width: 500px;
  }
}