nav {
  background-color: #3B3939;
  border-bottom: #707070 1px solid;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav .navLinks{
  display: none;
  flex-direction: column;
}
nav a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
nav a.icon{
  background: #272525;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
nav .logo{
  width: fit-content;
}
nav .active {
  background-color: #4CAF50;
  color: white;
}
main{
  margin-top: 60px;
}

@media only screen and (min-width: 768px) {
  nav{
    display: flex;
    z-index: 1;
  }
  nav .navLinks{
    display: flex;
    flex-direction: row;
    z-index: 9;
  }
  nav a.icon{
    display: none;
  }
}
