nav{
    background-color: #3B3939;
    margin-bottom: 50px;
    border: #707070 1px solid;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
  }
  nav .logo, nav .language{
    text-align: center;
  }
  nav .links{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin: auto;
  }
  nav a{
    text-decoration: none;
  
  }
  nav a, nav span{
    color: #fff;
  };
  
  nav>.links>a, nav>.language>span{
    font-size: 1.2rem;
  }
  
  .logo a{
    font-size: 1.6rem;
    font-weight: bolder;
  }